<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Gallery</h2>
                    <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tz-gallery">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery1.jpg">
                                <img src="../../../assets/gallery1.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery2.jpg">
                                <img src="../../../assets/gallery2.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery3.jpg">
                                <img src="../../../assets/gallery3.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery4.jpg">
                                <img src="../../../assets/gallery4.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery5.jpg">
                                <img src="../../../assets/gallery5.jpg" alt="Bridge">
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <a class="gallery_img" href="../../../assets/gallery6.jpg">
                                <img src="../../../assets/gallery6.jpg" alt="Bridge">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>